.loader-wrapper{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index:1000;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.u-loading {
  width: 50px;
  height: 50px;
  display: block;
 
}

.u-loading__symbol {
 

  -webkit-animation: loading 3s infinite;
          animation: loading 3s infinite;
  border-radius: 5px;
}

.u-loading__symbol img {
  display: inline-block;
  max-width: 100%;
  -webkit-animation: loading-icon 3s infinite;
          animation: loading-icon 3s infinite;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: perspective(250px) rotateX(0deg) rotateY(0deg);
            transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  15% {
    background-color: transparent;
  }
  16% {
    background-color: transparent;
  }
  50% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(0deg);
            transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    background-color: transparent;
  }
  65% {
    background-color: transparent;
  }
  66% {
    background-color: transparent;
  }
  100% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(-180deg);
            transform: perspective(250px) rotateX(180deg) rotateY(-180deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: perspective(250px) rotateX(0deg) rotateY(0deg);
            transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  15% {
    background-color: transparent;
  }
  16% {
    background-color: transparent;
  }
  50% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(0deg);
            transform: perspective(250px) rotateX(180deg) rotateY(0deg);
    background-color: transparent;
  }
  65% {
    background-color: transparent;
  }
  66% {
    background-color: transparent;
  }
  100% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(-180deg);
            transform: perspective(250px) rotateX(180deg) rotateY(-180deg);
  }
}

@-webkit-keyframes loading-icon {
  0% {
    -webkit-transform: perspective(250px) rotateX(0deg) rotateY(0deg);
            transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  15% {
    -webkit-transform: perspective(250px) rotateX(0deg) rotateY(0deg);
            transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  16% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(0deg);
            transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(0deg);
            transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  65% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(0deg);
            transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  66% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(180deg);
            transform: perspective(250px) rotateX(180deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(180deg);
            transform: perspective(250px) rotateX(180deg) rotateY(180deg);
  }
}

@keyframes loading-icon {
  0% {
    -webkit-transform: perspective(250px) rotateX(0deg) rotateY(0deg);
            transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  15% {
    -webkit-transform: perspective(250px) rotateX(0deg) rotateY(0deg);
            transform: perspective(250px) rotateX(0deg) rotateY(0deg);
  }
  16% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(0deg);
            transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(0deg);
            transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  65% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(0deg);
            transform: perspective(250px) rotateX(180deg) rotateY(0deg);
  }
  66% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(180deg);
            transform: perspective(250px) rotateX(180deg) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(250px) rotateX(180deg) rotateY(180deg);
            transform: perspective(250px) rotateX(180deg) rotateY(180deg);
  }
}